.stitched ul li{
   width: 100px;
   padding: 5px;
   margin: 5px;
   background: #0d90df;
   color: #fff;
   font-size: 14px;
   font-weight: bold;
   border: 2px dashed #fff;
   line-height: 1.3rem;
   border-radius: 10px;
   box-shadow: 0 0 4px #0d90df , 2px 1px 6px 4px rgba(10,10,0,0.5, green, blue, alpha);
   text-shadow: -1px -1px #aa3030;
   font-weight: normal;
   text-align: center;
   list-style: none;
   cursor: pointer;
}
a{
   list-style: none;
   text-decoration: none;
}

.stitched ul li ul li{
   margin-left: 90px;
   list-style: none;
}
a:link{
   color:red;
   text-decoration: none;
   text-decoration: none;
}
a:hover{
   color: red;
}
li > ul{
   display: none;
  
}
li:hover ul{
   display: block;
   position: absolute;
   top: 100px;
   left: 40px;
   color: red;
}

li > ul li:hover{
   color: brown;
   transition: all 0.3s;
   cursor: pointer;
}
