.stitched p{
    width: 100px;
    padding: 5px;
    margin: 5px;
    background: #0d90df;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    border: 2px dashed #fff;
    line-height: 1.3rem;
    border-radius: 10px;
    box-shadow: 0 0 4px #0d90df , 2px 1px 6px 4px rgba(10,10,0,0.5, green, blue, alpha);
    text-shadow: -1px -1px #aa3030;
    font-weight: normal;
    text-align: center;
}